* {
	padding: 0;
	margin: 0;
}

.fluctuations {
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
}

.add {
	position: absolute;
	left: 30vw;
	right: 60vw;
	top: 10vh;
}

.del {
	position: absolute;
	left: 60vw;
	right: 30vw;
	top: 10vh;
}
